@using A2SPA.ViewModels
@using A2SPA.ViewModels.Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,A2SPA
@model LoginViewModel

<div class="row">
    <div class="col-md-8">
        <section>
            <h2>Log in.</h2>
            <h5>Use a local account to log in.</h5>
            <hr />
            <div *ngIf="loginViewModel != null">
                <form role="form" #testForm="ngForm" class="form-horizontal">
                    <hfdi for="Email"></hfdi>
                    <hfdi for="Password"></hfdi>
                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" (click)="login($event)" class="btn btn-secondary">Log in</button>
                            <p>Not registered? <a routerLink="register"> Click here to Register</a></p>
                            @*
                                <-- to be added -->
                                <p>
                                <a asp-action="ForgotPassword">Forgot your password?</a>
                            </p>*@
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <!-- tba -->
        </section>
    </div>

</div>

<div *ngIf="errorMessage != null">
    <p>Error:</p>
    <pre>{{ errorMessage  }}</pre>
</div>
