
<div [hidden]="!isLoggedIn()">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link" (click)="setTitle('Manage Account')" routerLink="/manage" routerLinkActive="active-link">Manage</a>
        </li>
        <li>
            <a class="nav-link" (click)="logout()" routerLink="/home">Logout</a>
        </li>
    </ul>
</div>

<div [hidden]="isLoggedIn()">
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" (click)="setTitle('Register')" routerLink="/register" routerLinkActive="active-link">Register</a></li>
        <li><a class="nav-link" (click)="setTitle('Login')" routerLink="/login" routerLinkActive="active-link">Login</a></li>
    </ul>
</div>
