@using A2SPA.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,A2SPA
@model TestData

<form #testForm="ngForm">
    <div class="row">
        <h2>About</h2>
    </div>
    <div class="row">
        <p>Examples of Angular 5 data served by ASP.Net Core 2.x Web API:</p>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div *ngIf="testDataList == null || testDataList.length == 0" class="col-md-12">
                (no data)
            </div>

            <div *ngIf="testData != null && testDataList != null && testDataList.length > 0" class="col-md-12">

                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th chfor="Id"> </th>
                            <th chfor="Username"> </th>
                            <th chfor="Currency"> </th>
                            <th chfor="EmailAddress"> </th>
                            <th chfor="Password"> </th>
                            <th chfor="DateOfBirth"> </th>
                            <th chfor="LastLoginDate"> </th>
                            <th chfor="SessionExpiryTime"> </th>
                            <td><button type="button" class="btn btn-info btn-sm" (click)="testForm.reset();changeMode('add', null, $event)">+</button></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of testDataList" (click)="selectCurrentItem(item,$event)" [class.info]="item==selectedItem">
                            <td par="item" cdfor="Id"></td>
                            <td par="item" cdfor="Username"></td>
                            @*<td par="item" cdfor="Currency" pipe="currency:'AUD':'sybmol':'4.2-2'"></td>*@
                            <td par="item" cdfor="Currency" pipe="currency"></td>
                            <td par="item" cdfor="EmailAddress"></td>
                            <td par="item" cdfor="Password"></td>
                            @*<td par="item" cdfor="DateOfBirth" pipe="date:'dd-MM-yyyy'"></td>*@
                            <td par="item" cdfor="DateOfBirth" local="short"></td>
                            @*<td par="item" cdfor="LastLoginDate" pipe="date:'dd-MM-yyyy HH:mm a'"></td>*@
                            <td par="item" cdfor="LastLoginDate" local="short"></td>
                            @*<td par="item" cdfor="SessionExpiryTime" pipe="date:'HH:mm a'"></td>*@
                            <td par="item" cdfor="SessionExpiryTime" local="short"></td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteRecord(item, $event)">X</button>
                                <button type="button" class="btn btn-info btn-sm" (click)="changeMode('edit', item, $event)">?</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-3">
            <div *ngIf="testDataList != null" class="row">
                <div class="btn-group" role="group">
                    <button type="button" [hidden]="tableMode == 'add'" class="btn btn-info"
                            tooltip="Add New Data" placement="top" (click)="tableMode='add'">
                        Add
                    </button>
                    <button type="button" [hidden]="testDataList.length==0 || tableMode == 'list'" class="btn btn-info"
                            tooltip="List Data" placement="top" (click)="tableMode='list'">
                        List
                    </button>
                    <button [disabled]="!testForm.form.valid" [hidden]="!(tableMode==='add')" type="button" class="btn btn-warning"
                            tooltip="Save New Data" placement="top" (click)="addTestData($event)">
                        Save
                    </button>
                    <button [disabled]="!testForm.form.valid" [hidden]="!(tableMode==='edit')" type="button" class="btn btn-danger"
                            tooltip="Save Edited Data" placement="top" (click)="editTestData($event)">
                        Save
                    </button>
                    <button [hidden]="(tableMode==='list')" type="button" class="btn btn-info" tooltip="Cancel Add/Edit"
                            placement="top" (click)="testForm.reset();tableMode='list';">
                        Cancel
                    </button>
                    <button [hidden]="!(tableMode==='list')" *ngIf="testDataList.length>0 && selectedItem != null" type="button"
                            tooltip="Get All Data" placement="top" class="btn btn-info" (click)="getTestData()">
                        Get All
                    </button>
                    <button [disabled]="disabled" class="btn btn-light">
                        mode: {{tableMode}} - rows: {{ (testDataList == null) ? '0' : testDataList.length }}
                    </button>
                </div>
            </div>

            <div class="row" [hidden]="!(tableMode==='add'||tableMode==='edit')">
                <table class="table">
                    <tbody class="card-block">
                        <tr [hidden]="tableMode==='add'">
                            <td>
                                <tag-dd par="testData" for="Id"></tag-dd>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <vfdi par="testData" for="Username"></vfdi>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <vfdi par="testData" for="Currency"></vfdi>
                                @*<vfdi par="testData" for="Currency" options="nosymbol,integercurrency"></vfdi>*@
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <vfdi par="testData" for="EmailAddress"></vfdi>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <vfdi par="testData" for="Password"></vfdi>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @*{{testData.dateOfBirth}}*@
                                <vfdi par="testData" for="DateOfBirth"></vfdi>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @*{{testData.lastLoginDate}}*@
                                <vfdi par="testData" for="LastLoginDate"></vfdi>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @*{{testData.sessionExpiryTime}}*@
                                <vfdi par="testData" for="SessionExpiryTime"></vfdi>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>


<div *ngIf="errorMessage != null">
    <p>Error:</p>
    <pre>{{ errorMessage  }}</pre>
</div>
