@using A2SPA.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,A2SPA
@model TestData

@{
    ViewData["Title"] = "About";
}

<form #testForm="ngForm">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewData["Title"].</h2>
            <h3>@ViewData["Message"]</h3>
            <p>Examples of Angular 5 data served by ASP.Net Core 2.x Web API:</p>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="row pull-right text-right">
                    <span class="badge badge-pill badge-success">rowcount: {{ (testDataList == null) ? '0' : testDataList.length }}</span><br />
                </div>
                <div class="row pull-right text-right">
                    <span class="badge badge-pill badge-primary">mode: {{tableMode}}</span><br />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div *ngIf="testDataList == null || testDataList.length == 0" class="col-md-12">
                (no data)
            </div>

            <div *ngIf="testDataList != null && testDataList.length > 0" class="col-md-12">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th chfor="Id"> </th>
                            <th chfor="Username"> </th>
                            <th chfor="Currency"> </th>
                            <th chfor="EmailAddress"> </th>
                            <th chfor="Password"> </th>
                            <th chfor="DateOfBirth"> </th>
                            <th chfor="LastLoginDate"> </th>
                            <th chfor="SessionExpiryTime"> </th>
                            <td><button type="button" class="btn btn-info btn-sm" (click)="testForm.reset();changeMode('add', null, $event)">+</button></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of testDataList" (click)="selectCurrentItem(item,$event)" [class.info]="item==selectedItem">
                            <td par="item" cdfor="Id"></td>
                            <td par="item" cdfor="Username"></td>
                            <td par="item" cdfor="Currency" pipe="currency:'USD':true:'1.2-2'"></td>
                            <td par="item" cdfor="EmailAddress"></td>
                            <td par="item" cdfor="Password"></td>
                            <td par="item" cdfor="DateOfBirth"></td>
                            <td par="item" cdfor="LastLoginDate"></td>
                            <td par="item" cdfor="SessionExpiryTime"></td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteRecord(item, $event)">X</button>
                                <button type="button" class="btn btn-info btn-sm" (click)="changeMode('edit', item, $event)">?</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-3">
            <div *ngIf="testDataList != null" class="row">
                <div class="btn-group" role="group">
                    <button type="button" [hidden]="tableMode == 'add'" class="btn btn-info" (click)="tableMode='add'">Add</button>
                    <button type="button" [hidden]="testDataList.length==0 || tableMode == 'list'" class="btn btn-info" (click)="tableMode='list'">List</button>
                </div>

                <div class="btn-group" role="group">
                    <button [disabled]="!testForm.form.valid" [hidden]="!(tableMode==='add')" type="button" class="btn btn-warning" (click)="addTestData($event)">Save</button>
                    <button [disabled]="!testForm.form.valid" [hidden]="!(tableMode==='edit')" type="button" class="btn btn-warning" (click)="editTestData($event)">Save</button>
                    <button [hidden]="(tableMode==='list')" type="button" class="btn btn-info" (click)="testForm.reset();tableMode='list';">Cancel</button>
                    <button [hidden]="!(tableMode==='list')" *ngIf="testDataList.length>0 && selectedItem != null" type="button" class="btn btn-info" (click)="getTestData()">Get All</button>
                </div>
            </div>

            <div class="row" [hidden]="!(tableMode==='add'||tableMode==='edit')">
                <table class="table">
                    <tbody class="card-block">
                        <tr [hidden]="tableMode==='add'">
                            <th>
                                <tag-dd par="testData" for="Id"></tag-dd>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <vfdi par="testData" for="Username"></vfdi>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <vfdi par="testData" for="Currency"></vfdi>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <vfdi par="testData" for="EmailAddress"></vfdi>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <vfdi par="testData" for="Password"></vfdi>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <vfdi par="testData" for="DateOfBirth"></vfdi>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <vfdi par="testData" for="LastLoginDate"></vfdi>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <vfdi par="testData" for="SessionExpiryTime"></vfdi>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<div *ngIf="errorMessage != null">
    <p>Error:</p>
    <pre>{{ errorMessage  }}</pre>
</div>
