@using A2SPA.ViewModels.Manage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,A2SPA
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"].</h2>

<div *ngIf="changePasswordViewModel != null">
    <form role="form" #testForm="ngForm" class="form-horizontal">
        <h5>Change Password Form</h5>
        <hr />
        <hfdi for="OldPassword"></hfdi>
        <hfdi for="NewPassword"></hfdi>
        <hfdi for="ConfirmPassword"></hfdi>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" (click)="changePassword($event)" class="btn btn-secondary">Change password</button>
            </div>
        </div>
    </form>
</div>
