@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>GitHub - source:</strong> <a href="https://github.com/RobertDyball/A2SPA">GitHub</a><br />
    <strong>Code Project - articles, how-to:</strong> <a href="https://www.codeproject.com/Articles/1148767/SPA-using-ASP-Net-Core-plus-Angular-part">Code Project</a>
</address>

<p>for further information create an issue on <a href="https://github.com/RobertDyball/A2SPA">GitHub</a> or leave a comment on <a href="https://www.codeproject.com/Articles/1148767/SPA-using-ASP-Net-Core-plus-Angular-part">Code Project</a>.</p>
