body {
    min-height: 60rem;
    padding-top: 3.5rem;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Sticky footer styles
---------------------------------------------------------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom jumbotron styles
---------------------------------------------------------------------------------------------------- */
.jumbotron-narrow {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* validation */
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

/* hidden .. see: http://www.talkingdotnet.com/dont-use-hidden-attribute-angularjs-2/ 
---------------------------------------------------------------------------------------------------- */
[hidden] {
  display: none !important;
}

/* change appearance of the active menu link 
---------------------------------------------------------------------------------------------------- */
.active-link {
    color: #ffd800;
    font-weight: bold;
}
