
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">A<sup>2</sup>SPA</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="setTitle('Home - A2SPA')" routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item" [hidden]="!isLoggedIn()">
                <a class="nav-link" (click)="setTitle('About - A2SPA')" routerLink="about">About</a>
            </li>
            <li class="nav-item" [hidden]="!isLoggedIn()">
                <a class="nav-link" href="swagger">NSwag</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="setTitle('Contact - A2SPA')" routerLink="contact">Contact</a>
            </li>
        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </div>
</nav>

<router-outlet></router-outlet>

